body{
    background: #eff1ee;
}
.form_cadastro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 28%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 auto;
}
#cadastrar{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #1eff00;
    height: 30px;
    width: 100px;
    font-size: 12pt;
    cursor: pointer;
}
#cadastrar:hover{
    background-color: #27c712;
    transition: 0.5s;
}
.input_cadastro{
    border: none;
    border-radius: 12px;
    width: 200px;
    height: 25px;
}