/*CSS HEADER */
html, body {
    height: 100%;
}

header {
    height: 20%;
}

.header {
    height: 100%;
}

.header-aling-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30%;
    background-color: #202020;
}

.header-border-right {
    text-align: center;
    width: 10%;
}

.header-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    margin: 0 5% 0 5%;
}

.header-search-form {
    width: 130%;
}

.header-texto-style {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-link {
    font-weight: bold;
    text-decoration: none;
    color: #202020;
}
/*FIM CSS HEADER*/

/*CSS FOOTER*/
footer{
    display: flex;
    align-content: space-around;
    justify-content: flex-end;
    width: 100%;
    background-color: #202020;
    padding: 15px 0px 10px 0px;
    position: absolute;
    bottom:0%;
}

.footer-menu {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    padding-right: 3%;
}

.footer-column {
    display: flex;
    flex-direction: column;
    padding-right: 30%;
}

.footer-link {
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
/*FIM CSS FOOTER*/